@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#webgl{
  position: fixed;
  top: 0;
  left: 0;
}

header{
  position: absolute; /* 絶対位置 */
  top: 0;
  left: 0;
  width: 100%;
  display: flex; /* 横並び */
  align-items: center; /* 中心に寄せる */
  justify-content: space-around;
  color: white;
  padding-top: 40px;
}

header .logo{
  font-size: 27px;
}

header .logo a{
  text-decoration: none;
  color: white;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block; /* 横並び */
  margin: 0 15px;
}

header nav ul li a{
  text-decoration: none;
  color: white;
  position: relative;
}

/* Start button */

header nav ul .btn{
  margin-left: 70px;
}

header nav ul .btn a{
  color: black;
}

/* Button style */

header nav ul .btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

header nav ul .btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



/* li tag hover animetion */

header nav ul .nomal a::after{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  left: 0;
  bottom: -5px;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: all 0.5s ease;  /* hover time */
}

header nav ul .nomal a:hover::after{
  transform: scale(1, 1);
}


/* Start main */

main{
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main h1{
  white-space: nowrap;
}

main p{
  margin-top: 10px;
  font-size: 90%;
}

